<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>602426551207-alm0es0ctd0vu425o8578em0evc3ldok.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.602426551207-alm0es0ctd0vu425o8578em0evc3ldok</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>602426551207-oasoguu01cstpsim9ardn1ivmmiuih77.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCbDiY37f54GsHu4ps4szNJDam5YU0RUf0</string>
	<key>GCM_SENDER_ID</key>
	<string>602426551207</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>anora.intellibra.app.intellibra</string>
	<key>PROJECT_ID</key>
	<string>intellibra-ecb00</string>
	<key>STORAGE_BUCKET</key>
	<string>intellibra-ecb00.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:602426551207:ios:0c182b97d05e7d3ffc6482</string>
</dict>
</plist>